#bombillas{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.infoBombillas{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 10% 10px;
    color: black;

    .colBombillas{
        margin-left: 20px;
        width: 50%;

        h1{
            margin-bottom: 25px;
        }
    
        p{
            text-align: justify;
            font-size: 1.2rem;
        }
    }
    
    
}

@media only screen and (max-width: 660px) {
    .infoBombillas{
        .colBombillas{
            margin: 0px;
            width: 90%;
            h1{
                text-align: center;
            }
        }
    }
} 

@media only screen and (max-width: 921px) {
   .infoBombillas{
    .colBombillas{
       display: inline-block;
       width: 100%;
       margin-top: 40px;
       margin-left: 0px;
       text-align: center;
       padding: 0px 10%;
   }
}
}