
/* ---------------------- Categorias de productos ----------------------*/

#firstSection {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 25px 0;

    .categoria {
        position: relative;
        text-align: center;
        overflow: hidden;
        width: 32.33%;
        height: auto;
        font-size: 0%;
        margin: 5px 5px;

        img {
            transition: all 1s;
            width: 100%;
            overflow: hidden;
        }

        &:hover img {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
        }
    }

    .categoria__nombre {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Josefin Sans', sans-serif;
        font-size: 1.563rem;
        letter-spacing: 2px;
        pointer-events: none;
    }

    .categoria__boton {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 50%;
        height: 3.20rem;
        top: 72%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: 'Mulish', sans-serif;
        font-weight: 600;
        color: #FFDF91;
        font-size: 1rem;
        transition: ease-in-out 0.4s;
        border: 2px solid white;
        letter-spacing: 0.5px;

        &:hover {
            background-color: #91684A;
            color: #FFDF91;
            border: 0px;
        }
    }
}

.oscurecer {
    filter: brightness(75%);
}