/* ----------------------ETIQUETAS----------------------*/
/* -------------PALETA------------------
AMARILLO         #FFDF91
MARRON           #331C08
MARRON CLARO     #91684a
CREMITA          #eaac7f 
*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    line-height: normal;
}

body {
    font-family: 'Mulish', sans-serif;
    font-weight: 300;
    font-size: 1em;
    color: white;
    /*Light 300 Regular 400*/
}

h1 {
    line-height: normal;
}

p {
    line-height: normal;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

footer {
    background-color: #573A29;
}



/* ----------------------Header----------------------*/
.header {
    background-image: url(./multimedia/background_header.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 0px;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.textoHeader {
    position: absolute;
    width: 100%;
    top: 12.5rem;
    left: 5rem;
    color: black;
    font-size: 1rem;
}

.tituloHeader {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 45px;
    color: #ffffff;
    margin-bottom: 1.25rem;
    /*Regular 400 Bold 700*/
}

.textoHeader p {
    color: white;
}

.botonHeader {
    display: flex;
    position: absolute;
    margin-top: 40px;
    background-color: #EAAC7F;
    width: 150px;
    height: 35px;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 400;
    color: black;
}

.hvr-forward {
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
}

.hvr-forward:hover,
.hvr-forward:focus,
.hvr-forward:active {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
}



/* -------------------- Navbar  --------------------  */
.navContenedor {
    width: 100%;
    height: 4.375rem;
    background-color: rgba(253, 253, 253, 0.26);
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 20px;
    display: flex;
    text-decoration: none;
    color: #331C08;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
}

.navbar-expand-lg .navbar-collapse {
    flex-grow: unset;
}

.navbar {
    padding: 0px;
}

.navbar-toggler-icon {
    background-image: url(./multimedia/menu.png);
}

.navbar-brand {
    margin: 0px;
}

.efectoMenu::after {
    position: absolute;
    content: '';
    left: 0%;
    width: 0%;
    height: 2px;
    bottom: 0px;
    background: #91684A;
    transition: width 1s;
    border-radius: 10px;
}

.efectoMenu:hover::after {
    width: 100%;
    transition: width 0.5s;
}

.navbar-nav .nav-item .nav-link:hover {
    color: #EAAC7F;
}

.logo {
    cursor: pointer;
    margin-left: 3.125rem;

}

.iconos {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 3.125rem;
}

.iconos img:hover {
    filter: invert(41%) sepia(35%) saturate(481%) hue-rotate(343deg) brightness(97%) contrast(96%);
    /*Funcion que encontre en StackOverflow para cambiar el color de una imagen*/
}

.iconos img {
    cursor: pointer;
}

.iconos a:not(:first-child) {
    margin-left: 15px;
}


#seccionActiva {
    color: #EAAC7F;
}

.navAlternativo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.411);
}

/* ----------------------Categorias----------------------*/

#firstSection {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: 25px 0;
}

.articContenedor {
    position: relative;
    text-align: center;
    overflow: hidden;
    width: 32.33%;
    height: auto;
    font-size: 0%;
    margin: 5px 5px;
}

.articContenedor img {
    transition: all 1s;
    width: 100%;
    overflow: hidden;

}

.articContenedor:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.nombreCategoria {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.563rem;
    letter-spacing: 2px;
    pointer-events: none;
}

.verProductos {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 50%;
    /* height: 3.75rem; */
    height: 3.20rem;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    color: #FFDF91;
    font-size: 1rem;
    transition: ease-in-out 0.4s;
    border: 2px solid white;
    letter-spacing: 0.5px;
}

.verProductos:hover {
    background-color: #91684A;
    color: #FFDF91;
    border: 0px;
}

.oscurecer {
    filter: brightness(75%);
}

/* ----------------- El Mate Imagen ----------------- */
.elmate {
    position: relative;
    height: 31.25rem;
    width: 100%;
    background-image: url(./multimedia/elmate.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 25px;
}

.elmate:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.459);
}

.textoElMate {
    position: relative;
    text-align: center;
    font-size: 20px;
}

.botonElMate {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #573f2d;
    width: 13rem;
    height: 2.8rem;
    color: #FFDF91;
    margin-top: 1.875rem;
    left: 50%;
    transform: translateX(-50%);
    font-weight: bold;
    font-size: 16px;
    transition: ease-in 0.4s;
}

.botonElMate:hover {
    background-color: #91684A;
    color: #FFDF91 ;
}

.centrar {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.elmate h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 40px;
    color: #FFDF91;
    text-align: center;
    margin-bottom: 20px;

}

/* ----------------------Nosotros----------------------*/

#secondSection {
    background-image: url(./multimedia/fondoNosotros.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37.5rem;
    width: 100%;
    color: black;
    padding: 80px 50px;
    position: relative;
    overflow: hidden;
}

#secondSection .mateTorpedo {
    position: absolute;
    max-width: 100%;
    height: auto;
    top: 10%;
    left: 8%;
    z-index: 1;
}

.nosotrosArriba{
    display: none;
}

.nosotrosAbajo{
    display: none;
}

.columna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    z-index: 2;
    position: absolute;
    left: 30%;
    padding-right: 15%;
}

#secondSection h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.875em;
    color: #6D4B37;
    text-align: center;
    margin-bottom: 2.5rem;
}

#secondSection p {
    text-align: justify;
    font-size: 1.0625em;
}

.negrita {
    font-weight: bold;
}

/* ----------------------Envios / Pagos / Contacto----------------------*/

#thirdSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    color: black;
    font-weight: 400;
    width: 100%;
    margin: 80px 0px 100px 0px;
    /* margin: 0px 0px 100px 0px; */
}

#thirdSection div {
    background-color: #FFDF91;
    margin-top: 20px;
    height: 31.25rem;
    width: 25rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

#thirdSection div img {
    margin-top: 80px;
    margin-bottom: 40px;
    width: 100px;
    height: 100px;
}

#thirdSection h4 {

    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 1.875rem;
    color: #331C08;
    width: 100%;
    margin-bottom: 40px;

}

#thirdSection p {
    color: #4B4747;
}


/* ----------------------CLASES----------------------*/
/* Clase temporal para entrega, BORRARLA */
.productos {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --------------- Footer --------------- */
footer {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 40px 60px 20px 60px;
}

footer a {
    color: white;
}

footer a:hover{
    color: #eaac7f
}

.iconosFooter a:hover {
    filter: brightness(50%);
}

.contactoFooter div {
    color: #FFDF91;
}

.seccionesFooter {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 20px;
}

.tituloFooter {
    color: #FFDF91;
    grid-column: 1/3;
    text-align: center;
}

.seccionesFooter p {
    color: white;

}

.redesFooter{
    align-self: flex-start;
}

.iconosFooter {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 15px;
}
.iconosFooter a:not(:first-child) {
    margin-left: 15px;
}

.video {
    width: 100%;
    background-color: black;
    height: 500px;
    object-fit: cover;
    filter: brightness(80%);

}

/* --------------- Contactanos --------------- */

.contenedorContacto {
    display: flex;
    align-items: center;
    padding: 40px;
    min-height: 100vh;
}

.padreContacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #91684A;
    padding: 40px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

input:focus {
    outline: none;
    box-shadow: none;
}

input[type=text],
input[type="email"]:focus,
textarea {
    transition: all 0.30s ease-in-out;
    outline: none;
    border: 1px solid #DDDDDD;
}

input[type=text]:focus,
input[type="email"]:focus,
textarea:focus {
    box-shadow: 0 0 5px #000000;
    border: 1px solid #ffffff;
}

.contacto {
    height: 500px;
    flex-basis: 50%;
}

.contacto form {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contacto form input {
    margin: auto 10px;
    height: 40px;
    border-radius: 10px;
    padding-left: 10px;
    border: none;
}

.contacto form textarea {
    margin: auto 10px;
    height: 80px;
    font-family: 'Mulish', sans-serif;
    padding-left: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.mapa {
    flex-basis: 50%;
    height: 500px;
}

.mapa iframe {
    width: 100%;
    height: 100%;
}

input[type="text"] {
    font-family: 'Mulish', sans-serif;
}

.botonDiv {
    width: 100%;
    text-align: center;
}

.contacto .botonDiv input {
    width: 100px;
    height: 40px;
    background-color: #EAAC7F;
    border: none;
    font-size: 0.8em;
    padding: 0;
    transition: ease-in 0.3s;

}

input[type="submit"]:hover {
    background-color: #ec8c48;
    color: white;
    transition: ease-in 0.3s;
}

/* --------------- Fin - Contactanos --------------- */

.tituloPrimario {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    font-size: 35px;
    color: #FFDF91;
    text-align: center;
    /*Regular 400 Bold 700*/
}

.tituloSecundario {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: black;
    font-size: 29px;
}

.centrado {
    text-align: center;
}

.jutificado {
    text-align: justify;
}

.imgNosotros {
    margin: 15px;
}

/* ----------------- Grid Fotos ----------------- */

.gridFotos {
    padding: 1rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-auto-rows: 240px;
    background: rgb(19, 19, 19);
}

.tarjeta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 3rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.tarjeta:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35rem 1.175rem, rgba(2, 8, 20, 0.08) 0px 0.175rem 0.5rem;
    transform: translateY(-3px) scale(1.1);
}




@media screen and (min-width: 600px) {
    .tarjetaAlta {
        grid-row: span 2 / auto;
    }

    .tarjetaAncha {
        grid-column: span 2 / auto;
    }
}



/* -------- Extra small devices (phones, 600px and down) -------- */
@media only screen and (max-width: 600px) {

    .navMenu {
        display: none;
    }

    .iconos {
        display: none;
    }

    .textoHeader {
        top: 35%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    .textoHeader h1 {
        font-size: 35px;
        padding: 0px 5%;
    }

    .textoHeader a {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .textoHeader p {
        display: none;
    }

    #firstSection {
        flex-direction: column;
        align-items: center;
        margin: 0;
    }


    #firstSection .articContenedor {
        width: 99%;

    }

    .verProductos {
        font-size: 0.9rem;
    }


    .elmate h2 {
        font-size: 30px;
    }

    .textoElMate {
        padding: 0px 2rem;
        font-size: 1.125rem;
        text-align: justify;
    }

    .botonElMate {
        width: 12.5rem;
        height: 2.5rem;
        font-size: 14px;
    }

    #secondSection {
        background: url(./multimedia/vertical.png) no-repeat center center;
        background-size: cover;
        flex-direction: column;
        height: auto;
        position: unset;
        padding: 80px 20px;
    }

    #secondSection img {
        display: none;
    }

    .columna {
        position: unset;
        margin: 50px 0px;
        padding: 0px;
    }

    #thirdSection {
        margin: 50px 0px;
    }

    #thirdSection div {
        width: 90%;
        height: 29rem;
        margin-bottom: 20px;
    }

    /* footer {
        flex-direction: column;
    }

    footer img,
    .contactoFooter,
    .seccionesFooter,
    .redesFooter {
        margin-bottom: 20px;
    }

    .redesFooter{
        align-self: center;
    } */
}


/* --------- Medium devices (landscape tablets, 768px and up) ----------- */
@media only screen and (min-width: 600px) and (max-width: 1200px) {
    .textoHeader {
        top: 25%;
        left: 5%;
    }

    .articContenedor{
        margin: 2px 2px;
        width: 48%;
    }

    .elmate p{
        padding: 0px 10%;
    }

    #secondSection {
        background-image: none;
        height: auto;
    }

    #secondSection .mateTorpedo {
        display:none;
    }

    .nosotrosAbajo{
        display: block;
        position: absolute;
        width: auto;
        bottom: 0;
        z-index: 1; 
    }

    .nosotrosArriba{
        display: block;
        position: absolute;
        width: auto;
        top: 0;
        z-index: 1; 
    }

    #secondSection .columna{
        position: unset;
        padding: 10% 0;
    }

    #thirdSection{
        display: flex;
        flex-direction: column;
    }

    #thirdSection div {
        margin-top: 30px;
    }

    /* footer {
        flex-direction: column;
    }

    footer img,
    .contactoFooter,
    .seccionesFooter,
    .redesFooter {
        margin-bottom: 20px;
    }

    .redesFooter{
        align-self: center;
    } */
}


/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {

    #firstSection {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 20px;
    }

    .divNosotros {
        width: 50%;
        margin-left: 80px;
    }

    .textoHeader {
        position: absolute;
        width: 100%;
        top: 17.5rem;
        left: 5rem;
        color: black;
    }

    .textoHeader p {
        font-size: 1.25rem;
    }

    .tituloHeader {
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 400;
        font-size: 3.125rem;
        color: #ffffff;
        margin-bottom: 1.25rem;

    }

    #secondSection {
        height: 800px;
    }

    #secondSection .mateTorpedo {
        top: 15%;
        width: 500px;
        height: 620px;
    }

    .nosotrosArriba{
        display: none;
    }

    .nosotrosAbajo{
        display: none;
    }

    #secondSection h3 {
        font-size: 2.325rem;
    }

    #secondSection p {
        font-size: 1.275rem;
    }

    .columna {
        left: 30%;
    }
}

/* Cambia color menu navegación */
@media (max-width: 992px) {
    .navContenedor {
        height: auto;
        background-color: rgba(255, 255, 255, 0.788);
        z-index: 1;
    }

    .logo {
        margin-left: 1.5rem;
    }
}

/* Elimina iconos menu navegación */
@media (max-width: 1090px) {
    .iconos img{
        display: none;
    }
}
/* Rompe Footer */
@media (max-width: 850px) {
    footer {
        flex-direction: column;
    }

    footer img,
    .contactoFooter,
    .seccionesFooter,
    .redesFooter {
        margin-bottom: 20px;
    }

    .redesFooter{
        align-self: center;
    }
}